* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
html, body {
  100%;
  font-family: Helvetica Neue, Helvetica;
}

.nav-bar {
  background-color: white;
}

nav {
  text-transform: uppercase;
  /*padding: 35px;*/
}

.desktop-only {
  /*display: none;*/
  font-weight: 300;
  letter-spacing: 0.071em;
  /*font: coquette-w00-light, sans-serif;*/
  font-size: 1.8em;
  display: flex;
}

.nav-bar .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
  /*border: 2px solid gray;*/
}

.nav-bar h1 {
  flex: 4 0 300px;
  /*text-align: left;*/
  padding: 30px 10px 50px 30px;
  justify-content: center;
  /*border: 2px solid gray;*/
}

.nav-bar ul {
  flex: 1 0 100px;
  display: none;
  /*flex-wrap: wrap;*/
  padding: 30px;
  /*border: 2px solid gray;*/
}

li {
  font-weight: 300;
  letter-spacing: .1em;
  font-size: 14px;
  /*border: 2px solid gray;*/
}

.nav-bar li {
  flex: 1 0 10px;
  display: flex;
  padding: 0px 0px 0px 5px;
  /*border: 2px solid gray;*/
}

.nav-bar a {
  /*align-items: center;*/
  justify-content: center;
  font-size: 13px;
  line-height: 2em;
  padding: 5px 0px 0px 0px;
  opacity: .5;
}

/*.nav-bar #index {
  text-decoration: underline;
  opacity: 1;
}*/

.mobile-nav ul {
  flex: 1 0 320px;
  display: flex;
  flex-wrap: wrap;
  /*border: 2px solid gray;*/
}

.mobile-nav li {
  flex: 1 0 170px;
  display: flex;
  /*border: 2px solid gray;*/
}

.mobile-nav a {
  flex: 1;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  opacity: .5;
  /*border: 2px solid gray;*/
}

li a:hover {
    text-decoration: underline;
    opacity: 1;
}

.menu {display: none;}

.grid .template {
  margin: 0 auto;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  /*border: 2px solid purple;*/
}

.column1, .column2, .column3 {
  /*display: flex;
  flex-wrap: wrap;*/
}

.template .column1 img{
  display: flex;
  width: 100%;
  /*border: 2px solid green;*/
}

.template .column2 img{
  display: flex;
  width: 100%;
  /*border: 2px solid lime;*/
}

.template .column3 img{
  display: flex;
  width: 100%;
  /*border: 2px solid blue;*/
}

.template #column4, .template #column5 {
  display: none;
}

.template img:hover {
    color: black;
    opacity: .5;
}

@media (max-width: 800px) {

  .template .column3 img {
    display: none;
  }
  .template #column4, .template #column5 {
    display: block;
  }
}

@media (min-width: 600px) {

  .mobile-nav-label {
    display: none;
  }
  .nav-bar ul {
    display: flex;
}
  li a:hover {
    opacity: 1;
  }
}

@media (min-width: 601px) {
  h1.desktop-only {
  justify-content: flex-start;
  }
}
